<div class='page_title'>Admin Area</div>

<br />
<%= link_to "View Posts", :controller => "posts", :action => "index"%>
<br /><br />
<%= link_to "View Users", :controller => "users", :action => "index"%>
<br /><br />
View Cheer Numbers [COMING SOON]
<!--<%= link_to "View Cheer Numbers", :controller => "users", :action => "cheer_numbers"%>-->
